// COLORS
$color-primary: #8BC377;
$color-primary-light: #ADE599;

$color-secondary: #F28C69;

$color-tertiary: #2998ff;




$color-white: #fff;
$color-off-white: #F8F8F8;

$color-black: #000;

$color-grey-medium: #707070;
$color-grey-dark: #262626;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 9rem;