.navigation {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 8rem;
    background-color: $color-white;
    box-shadow: 0 .3rem 1rem rgba($color: #000000, $alpha: .1);

    &__logo-box {
        height: 50%;
        position: absolute;
        top: 50%;
        left: 7rem;
        transform: translateY(-50%);
    }

    &__logo {
        height: 100%;
    }

    &__list {
        position: absolute;
        top: 50%;
        right: 7rem;
        transform: translateY(-50%);
        
        @include respond(tab-port) {
            display: none;
        }
    }

    &__item {
        display: inline-block;
        text-align: center;
        

        &:not(:last-child) {
            margin-right: 3rem;
        }

    }

    &__link {

        &:link,
        &:visited {
            display: inline-block;
            font-size: 1.2rem;
            font-weight: 400;
            padding: .5rem .5rem;
            color: $color-grey-dark;
            text-decoration: none;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 240%;
            border-radius: 10px;
            transition: all .4s;
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateY(-.2rem);
        }

    }

}


//code for hamburger nav menu

.navigation-menu {

    visibility: hidden;

    @include respond(tab-port) {
        visibility: visible;
    }

    &__checkbox {
        display: none;
        
    }

    &__button {
        height: 7rem;
        width: 7rem;
        position: absolute;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        text-align: center;
        cursor: pointer;
        visibility: hidden;
        @include respond(tab-port) {
            visibility: visible;
        }
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: absolute;
        right: 6.5rem;
        background-image: radial-gradient($color-primary, $color-primary);
        z-index: 1000;
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
        visibility: hidden;


        //transform: scale(80);
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;

        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 220%;
            transition: all .4s;

            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
        }
        
        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }


    //FUNCTIONALITY
    &__checkbox:checked ~ &__background {
        transform: scale(80);
        @include respond(tab-port) {
            visibility: visible;
        }
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }


    //ICON
    &__icon {
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-black;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { top: -.8rem; }
        &::after { top: .8rem; }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}