<footer class="footer" id="footer">

    <div class="row">
        <div class="col-1-of-3 u-center-text u-margin-top-small">
            <h3 class="header-tertiary u-margin-bottom-small">Quick Links</h3>
            <ul class="footer__nav-list">
                <li class="footer__nav-item"><a href="/" class="footer__nav-link">Home</a></li>
                <li class="footer__nav-item"><a href="/about" class="footer__nav-link">About</a></li>
                <li class="footer__nav-item"><a href="/blog" class="footer__nav-link">Blog</a></li>
                <li class="footer__nav-item"><a href="https://bethaddey.typeform.com/to/PsNN233p" target="_blank" class="footer__nav-link">Consultation</a></li>
                <li class="footer__nav-item"><a href="https://webdevjam.com" target="_blank" class="footer__nav-link">Web Designer / Developer</a></li>
            </ul>
        </div>
        <div class="col-1-of-3">            

            <div class="footer__content u-center-text">
                <img src="/img/2x/logo@2x.png" alt="Logo" class="footer__logo">
                <h3 class="header-tertiary u-margin-bottom-small">Veganism done right.</h3>
                <hr>
                <h4 class="header-quaternary">Email</h4>
                <p class="text">beth@blnutrition.co.uk</p>
                <h4 class="header-quaternary">Location</h4>
                <p class="text u-margin-bottom-small">Plymouth, Devon, UK</p>
                <hr class="u-margin-bottom-small">
                <p class="text">Copyright 2021 BL Nutrition & Web Dev Jam</p>
                <a href="/dashboard">Webmaster Login</a>


            </div>
        </div>
        <div class="col-1-of-3 u-margin-top-small">
            <h3 class="header-tertiary">Lockdown 2.0 Keep Fit Challenge</h3>
            <p class="text">Ready to get started? Enter your email address to subscribe to
                my mailing list and I will send you my 
                Keep Fit Challenge!
            </p>
            <a href="https://bethaddey.ck.page/fef0e7f1b5" target="_blank" class="btn u-margin-top-small">Subscribe Now!</a>
            <a class="social-link" href="https://www.facebook.com/bethaddeynutrition"><i class="fab fa-facebook fa-2x u-margin-left-small"></i></a>
            <a class="social-link" href="https://www.instagram.com/bethsgonevegan/?hl=en"><i class="fab fa-instagram fa-2x u-margin-left-small"></i></a>

        </div>
    </div>

</footer>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/40ffac7a6e.js" crossorigin="anonymous"></script>


</body>
</html>