<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="theme-color" content="#8BC377" >

        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="shortcut icon" type="image/png" href="img/fav.png">
        <meta property="og:image" content="/img/1x/preview.png">
        <META NAME="robots" CONTENT="noindex,nofollow">
        <title>BL Nutrition</title>
        <meta name="description" content="BLNutrition, run by Beth Addey Psychology (BSc) Human Nutrition (MSc). Beth's services aim to introduce clarity and self-motivation in becoming a better you.">
    </head>

    <body>
           
        <nav class="navigation">
            <div class="navigation__logo-box">
                <a href="/"><img src="/img/2x/logo@2x.png" alt="Logo" class="navigation__logo"></a>
            </div>
            <ul class="navigation__list">
                <li class="navigation__item"><a href="/" class="navigation__link">Home</a></li>
                <li class="navigation__item"><a href="/about" class="navigation__link">About</a></li>
                <li class="navigation__item"><a href="/blog" class="navigation__link">Blog</a></li>
                <li class="navigation__item"><a href="https://bethaddey.ck.page/fef0e7f1b5" target="_blank" class="navigation__link">Free Fitness Plan</a></li>
                <a href="https://bethaddey.typeform.com/to/PsNN233p" target="_blank"  class="btn btn-secondary">Start Now!</a>
            </ul>
            <div class="navigation-menu-menu">
                <input type="checkbox" class="navigation-menu__checkbox" id="navi-toggle">
    
                <label for="navi-toggle" class="navigation-menu__button">
                    <span class="navigation-menu__icon">&nbsp;</span>
                </label>
    
                <div class="navigation-menu__background">&nbsp;</div>
    
                <nav class="navigation-menu__nav">
                    <ul class="navigation-menu__list">
                        <li class="navigation-menu__item"><a href="/" class="navigation-menu__link">Home</a></li>
                        <li class="navigation-menu__item"><a href="/about" class="navigation-menu__link">About</a></li>
                        <li class="navigation-menu__item"><a href="/blog" class="navigation-menu__link">Blog</a></li>
                        <li class="navigation-menu__item"><a href="https://bethaddey.ck.page/fef0e7f1b5" target="_blank" class="navigation-menu__link">Free Fitness Plan</a></li>
                        <li class="navigation-menu__item"><a href="https://bethaddey.typeform.com/to/PsNN233p" target="_blank" class="navigation-menu__link">Consultation</a></li>
                    </ul>
                </nav>
            </div>
        </nav>


       
