<%- include("partials/header"); -%> 


<header class="header header--blog">
            
    <div class="header__content">
        <div class="row u-center-text u-margin-top-big">
           
            
                <h1 class="header-primary u-margin-top-big">About BL Nutrition</span>.</h1>
                <h2 class="header-secondary u-margin-bottom-small">Bethany Addey, Psychology (BSc) Human Nutrition (MSc)</h2>
                <a class="social-link" href="https://www.facebook.com/bethaddeynutrition"><i class="fab fa-facebook fa-5x u-margin-right-small"></i></a>
                <a class="social-link" href="https://www.instagram.com/bethsgonevegan/?hl=en"><i class="fab fa-instagram fa-5x u-margin-left-small"></i></a>
        </div>
    </div>


    <svg width="0" height="0">
        <defs>
          <clipPath id="headerCurve" clipPathUnits="objectBoundingBox">
            <path d="M 0,1
            L 0,0
            L 1,0
            L 1,.85
            C .65 .95, .35 .95, 0 .85
            Z" />
          </clipPath>
        </defs>
      </svg>

</header>

<section class="section-about">
    

    <div class="section-about__container">

        <div class="section-about__container-left">
            <div class="composition ">
                <img class="composition__img" srcset="/img/1x/beth-in.png 1x, /img/2x/beth-in@2x.png 2x" alt="">


                <img class="composition__veg composition__veg-4" srcset="/img/1x/veg-group.png 1x, /img/2x/veg-group@2x.png 2x" alt="">
            </div>

        </div>



        <div class="section-about__container-right">
            <div class="section-about__content u-center-text">
                <h2 class="header-secondary">About Me</h2>
            <p class="text">I have been a plant-based vegan since 2016 and aim to coach through this lifestyle. If the vegan lifestyle interests you, you are feeling overwhelmed by life’s demands or need information and help with your nutrition or mental health, my services aim to introduce clarity and self-motivation in becoming a better you. Please get in touch for free health coaching sessions so I can learn more, and hopefully help you with your health and wellbeing goals.</p>
                <a href="https://bethaddey.typeform.com/to/PsNN233p" target="_blank"  class="btn u-margin-top-small">Consultation</a>
                <a href="https://bethaddey.ck.page/fef0e7f1b5" target="_blank" class="btn u-margin-top-small">Free 1 Week Menu</a>
            </div>
            
        </div>

    </div>
</section>




<%- include("partials/footer"); -%>