<%- include("partials/headnoindex"); -%> 

<section class="section-dashboard">

    <div class="dashboard"> 
        <h1 class="header-primary">Admin Dashboard</h1>
        <a class="btn btn-primary u-margin-bottom-small" href="/newpost">New Post</a>
        <a class="btn btn-primary" href="/adminblog">View & Edit Posts</a>
        
    </div>

</section>

<%- include("partials/footer"); -%>