<%- include("partials/headnoindex"); -%> 

<section class="section-dashboard">

    <div class="dashboard"> 
        <h1 class="header-primary">Admin Login</h1>
        <form class="login-form" action="/login" method="post">

            <input class="u-margin-bottom-small" type="text" name="username" placeholder="username" autocomplete="off">
            <input class="u-margin-bottom-small" type="password" name="password" placeholder="password"  autocomplete="off">
            <button> Login :)</button>
        </form>
    </div>

</section>

<%- include("partials/footer"); -%>