<%- include("partials/headnoindex"); -%> 


<section class="section-compose">


    <div class="section-compose__form">

        <h1>Compose</h1>

        <a href="https://euangoddard.github.io/clipboard2markdown/" target="_blank">Markdown Text Formatter</a>
        <p>Please convert your text to markdown before submitting so the blog can render it properly!</p>

        <form action="/newpost" method="post" enctype="multipart/form-data">
        
            <div class="form-group u-margin-bottom-small">
                <label for="postTitle">Title</label>
                <input id="postTitle" class="form-control" type="text" name="postTitle">
                <input type="file" name="image">
            </div>
            <div class="form-group">
                <label for="postBody">Post</label>
                <textarea id="postBody" name="postBody" class="form-control" cols="40" rows="5"></textarea>
            </div>
            <button type="submit" class="section-compose__form-button">Publish</button>
        
        </form>
        

    </div>



</section>





<%- include("partials/footer"); -%>