<%- include("partials/header"); -%> 


<section class="section-compose">


    <div class="section-compose__form">

        <h1>Compose</h1>

        <form action="/compose" method="post" enctype="multipart/form-data">
        
            <div class="form-group u-margin-bottom-small">
                <label for="title">Title</label>
                <input id="title" class="form-control" type="text" name="postTitle">
                <input type="file" name="image">
            </div>
            <div class="form-group">
                <label for="post">Post</label>
                <textarea id="post" name="postBody"  class="form-control" cols="40" rows="5"></textarea>
            </div>
            <button type="submit" class="section-compose__form-button">Publish</button>
        
        </form>
        

    </div>



</section>





<%- include("partials/footer"); -%>