/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  position: relative; }

::selection {
  background-color: #F28C69;
  color: #8BC377; }

body {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #262626; }

.header-primary {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: .6rem;
  line-height: 7.5rem; }

.header-secondary {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: .2rem;
  line-height: 3rem; }

.header-tertiary {
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: .1rem; }

.header-quaternary {
  font-size: 1.1rem;
  margin-top: 1.5rem;
  font-weight: 400; }

.text {
  font-size: 1.1rem;
  font-weight: 200;
  color: #707070;
  letter-spacing: .1rem; }

.span--primary {
  color: #8BC377; }

.span--secondary {
  color: #F28C69; }

.u-center-text {
  text-align: center !important; }

.u-left-text {
  text-align: left !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-left-small {
  margin-left: 1.5rem !important; }

.u-margin-right-small {
  margin-right: 1.5rem !important; }

.u-hide {
  visibility: hidden; }

.u-show {
  visibility: visible; }

.btn:link, .btn:visited {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 400;
  padding: .7rem 2rem;
  border: 1px solid #F28C69;
  color: #F28C69;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 240%;
  border-radius: 10px;
  transition: all .4s; }

.btn:hover, .btn:active {
  color: #fff;
  background-color: #F28C69;
  font-weight: 400;
  transform: translateY(-0.2rem) scale(1.01);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); }

.social-link:link, .social-link:visited {
  display: inline-block;
  color: #F28C69;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 240%;
  border-radius: 10px;
  transition: all .4s; }

.social-link:hover, .social-link:active {
  color: #8BC377;
  font-weight: 400;
  transform: translateY(-0.2rem) scale(1.2); }

.blog__card {
  width: 100%;
  height: 45rem;
  background-color: #F8F8F8;
  border-radius: 8px;
  overflow: hidden;
  text-align: left; }
  .blog__card-container {
    width: 100%;
    height: 50%;
    overflow: hidden; }
    .blog__card-container-img {
      width: 100%; }
  .blog__card-content {
    height: 40%;
    margin: 2rem;
    position: relative; }
  .blog__card-readmore {
    position: absolute;
    right: 0;
    bottom: 0; }
    .blog__card-readmore:link, .blog__card-readmore:visited {
      display: inline-block;
      padding: .2rem 2rem;
      border: 1px solid #8BC377;
      color: #8BC377;
      text-decoration: none;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
      background-size: 240%;
      border-radius: 10px;
      transition: all .4s; }
    .blog__card-readmore:hover, .blog__card-readmore:active {
      color: #fff;
      background-color: #8BC377;
      font-weight: 400;
      transform: translateY(-0.2rem) scale(1.01);
      box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); }

.blog--wide__card {
  width: 90%;
  height: 20rem;
  background-color: #F8F8F8;
  border-radius: 8px;
  overflow: hidden;
  text-align: left;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .blog--wide__card {
      width: 120%;
      height: 25rem; } }
  @media only screen and (max-width: 37.5em) {
    .blog--wide__card {
      width: 150%;
      height: 30rem; } }
  .blog--wide__card-container {
    width: 33.333%;
    overflow: hidden; }
    @media only screen and (max-width: 75em) {
      .blog--wide__card-container {
        width: 50%; } }
    @media only screen and (max-width: 37.5em) {
      .blog--wide__card-container {
        width: 30%;
        height: 100%; } }
    .blog--wide__card-container-img {
      width: 100%; }
      @media only screen and (max-width: 75em) {
        .blog--wide__card-container-img {
          width: 120%; } }
      @media only screen and (max-width: 56.25em) {
        .blog--wide__card-container-img {
          width: 130%; } }
      @media only screen and (max-width: 37.5em) {
        .blog--wide__card-container-img {
          width: 200%; } }
  .blog--wide__card-content {
    height: 80%;
    margin: 2rem;
    width: 60%;
    position: absolute;
    right: 1rem;
    top: 0; }
    @media only screen and (max-width: 75em) {
      .blog--wide__card-content {
        width: 40%; } }
    @media only screen and (max-width: 37.5em) {
      .blog--wide__card-content {
        width: 55%; } }
  .blog--wide__card-readmore {
    position: absolute;
    right: 0;
    bottom: 0; }
    .blog--wide__card-readmore:link, .blog--wide__card-readmore:visited {
      display: inline-block;
      padding: .2rem 2rem;
      border: 1px solid #8BC377;
      color: #8BC377;
      text-decoration: none;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
      background-size: 240%;
      border-radius: 10px;
      transition: all .4s; }
    .blog--wide__card-readmore:hover, .blog--wide__card-readmore:active {
      color: #fff;
      background-color: #8BC377;
      font-weight: 400;
      transform: translateY(-0.2rem) scale(1.01);
      box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); }

.composition {
  width: 30rem;
  height: 30rem;
  position: relative; }
  @media only screen and (max-width: 75em) {
    .composition {
      flex-direction: column;
      width: 30rem; } }
  @media only screen and (max-width: 56.25em) {
    .composition {
      width: 25rem; } }
  .composition__img {
    width: 30rem;
    max-width: 30rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 75em) {
      .composition__img {
        flex-direction: column;
        width: 30rem; } }
    @media only screen and (max-width: 56.25em) {
      .composition__img {
        flex-direction: column;
        width: 25rem; } }
  .composition__veg {
    position: absolute; }
    .composition__veg-1 {
      top: 7rem;
      left: -7rem;
      transform: scale(0.6) rotate(-60deg); }
      @media only screen and (max-width: 75em) {
        .composition__veg-1 {
          transform: scale(0.6) rotate(-60deg);
          top: 2rem; } }
      @media only screen and (max-width: 37.5em) {
        .composition__veg-1 {
          transform: scale(0.4) rotate(-60deg);
          top: -2rem; } }
    .composition__veg-2 {
      top: -15rem;
      left: -5rem;
      transform: scale(1); }
      @media only screen and (max-width: 75em) {
        .composition__veg-2 {
          transform: scale(0.5);
          top: -20rem;
          left: -10rem; } }
      @media only screen and (max-width: 37.5em) {
        .composition__veg-2 {
          transform: scale(0.5);
          top: -16rem;
          left: -10rem; } }
    .composition__veg-3 {
      bottom: -25rem;
      right: -8rem;
      transform: scale(0.5) rotate(60deg); }
      @media only screen and (max-width: 75em) {
        .composition__veg-3 {
          transform: scale(0.6) rotate(60deg);
          bottom: -25rem;
          right: -15rem; } }
      @media only screen and (max-width: 37.5em) {
        .composition__veg-3 {
          transform: scale(0.4) rotate(60deg);
          bottom: -30rem; } }
    .composition__veg-4 {
      bottom: -10rem;
      left: -8rem;
      width: 40rem; }
      @media only screen and (max-width: 37.5em) {
        .composition__veg-4 {
          width: 30rem;
          bottom: -5rem;
          left: -10rem; } }

.footer {
  width: 100%;
  background-color: #F8F8F8;
  padding: 3rem 0;
  position: relative;
  bottom: 0; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      text-align: center;
      padding: 2rem 0 6rem 0; } }
  .footer__logo {
    height: 4rem; }
  .footer__input {
    width: 100%;
    font-size: 1rem;
    font-family: inherit;
    color: inherit;
    padding: 1rem 1rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all .3s; }
    @media only screen and (max-width: 56.25em) {
      .footer__input {
        width: 100%; } }
    .footer__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #8BC377; }
    .footer__input:focus:invalid {
      border-bottom: 3px solid #F28C69; }
  .footer__nav-list {
    list-style-type: none; }
  .footer__nav-link:link, .footer__nav-link:visited {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
    padding: .5rem .5rem;
    color: #262626;
    text-decoration: none;
    border-radius: 10px;
    transition: all .4s; }
  .footer__nav-link:hover, .footer__nav-link:active {
    color: #8BC377;
    transform: translateY(-0.2rem); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 9rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 9rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 9rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 9rem) / 3) + 9rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 9rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 9rem) / 4) + 9rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 9rem) / 4) + 2 * 9rem); }

.header {
  width: 100%;
  height: 70rem;
  background-image: url("/img/2x/bg-img@2x.png");
  background-size: 110%;
  background-attachment: fixed;
  background-position: top;
  clip-path: url(#headerCurve);
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 75em) {
    .header {
      text-align: center;
      height: 80rem; } }
  @media only screen and (max-width: 56.25em) {
    .header {
      text-align: center;
      height: 100rem;
      background-size: 150%; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      background-size: 180%;
      height: 90rem; } }
  .header--post {
    background-image: none; }
  .header--blog {
    height: 70rem; }
  .header__content {
    position: absolute;
    width: 100%;
    top: 18rem;
    padding: 0 10rem; }
    @media only screen and (max-width: 56.25em) {
      .header__content {
        width: 100%; } }
    @media only screen and (max-width: 37.5em) {
      .header__content {
        transform: scale(0.8);
        padding: 0;
        margin-top: -10rem; } }
    .header__content--post {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 2rem 2rem 4rem 2rem; }
  .header__img {
    width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .header__img {
        position: relative;
        left: -4rem; } }

.navigation {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 8rem;
  background-color: #fff;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.1); }
  .navigation__logo-box {
    height: 50%;
    position: absolute;
    top: 50%;
    left: 7rem;
    transform: translateY(-50%); }
  .navigation__logo {
    height: 100%; }
  .navigation__list {
    position: absolute;
    top: 50%;
    right: 7rem;
    transform: translateY(-50%); }
    @media only screen and (max-width: 56.25em) {
      .navigation__list {
        display: none; } }
  .navigation__item {
    display: inline-block;
    text-align: center; }
    .navigation__item:not(:last-child) {
      margin-right: 3rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
    padding: .5rem .5rem;
    color: #262626;
    text-decoration: none;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 240%;
    border-radius: 10px;
    transition: all .4s; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #8BC377;
    transform: translateY(-0.2rem); }

.navigation-menu {
  visibility: hidden; }
  @media only screen and (max-width: 56.25em) {
    .navigation-menu {
      visibility: visible; } }
  .navigation-menu__checkbox {
    display: none; }
  .navigation-menu__button {
    height: 7rem;
    width: 7rem;
    position: absolute;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    visibility: hidden; }
    @media only screen and (max-width: 56.25em) {
      .navigation-menu__button {
        visibility: visible; } }
  .navigation-menu__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: absolute;
    right: 6.5rem;
    z-index: 1000;
    transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    opacity: 0; }
  .navigation-menu__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation-menu__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .navigation-menu__item {
    margin: 1rem; }
  .navigation-menu__link:link, .navigation-menu__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 230%;
    transition: all .4s; }
    .navigation-menu__link:link span, .navigation-menu__link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }
  .navigation-menu__link:hover, .navigation-menu__link:active {
    background-position: 100%;
    color: #F28C69;
    transform: translateX(1rem); }
  .navigation-menu__checkbox:checked ~ .navigation-menu__background {
    transform: scale(80);
    opacity: 1;
    background-image: radial-gradient(#8BC377, #fff); }
  .navigation-menu__checkbox:checked ~ .navigation-menu__nav {
    opacity: 1;
    width: 100%; }
  .navigation-menu__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation-menu__icon, .navigation-menu__icon::before, .navigation-menu__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #000;
      display: inline-block; }
    .navigation-menu__icon::before, .navigation-menu__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation-menu__icon::before {
      top: -.8rem; }
    .navigation-menu__icon::after {
      top: .8rem; }
  .navigation-menu__button:hover .navigation-menu__icon::before {
    top: -1rem; }
  .navigation-menu__button:hover .navigation-menu__icon::after {
    top: 1rem; }
  .navigation-menu__checkbox:checked + .navigation-menu__button .navigation-menu__icon {
    background-color: transparent; }
  .navigation-menu__checkbox:checked + .navigation-menu__button .navigation-menu__icon::before {
    top: 0;
    transform: rotate(135deg);
    background-color: white; }
  .navigation-menu__checkbox:checked + .navigation-menu__button .navigation-menu__icon::after {
    top: 0;
    transform: rotate(-135deg);
    background-color: white; }

.section-blog {
  position: relative;
  padding: 2rem 10rem 10rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden; }

.post-image {
  position: relative;
  z-index: -2;
  width: 100%;
  filter: brightness(150%); }
  @media only screen and (max-width: 56.25em) {
    .post-image {
      width: 200%; } }

.post__text {
  text-align: justify;
  width: 66.666%;
  font-size: 1.3rem;
  line-height: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .post__text {
      width: 100%; } }

.post__pp {
  width: 10rem;
  height: 10rem;
  border-radius: 200rem;
  background-image: url("/img/2x/beth-out@2x.png");
  background-position: top;
  background-size: 110%; }

.section-compose {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center; }
  .section-compose__form {
    position: absolute;
    top: 20rem;
    font-size: 1.5rem; }
    .section-compose__form-button {
      display: inline-block;
      padding: 0.3em 1.2em;
      margin: 0 0.3em 0.3em 0;
      border-radius: 2em;
      box-sizing: border-box;
      text-decoration: none;
      font-family: 'Roboto',sans-serif;
      font-weight: 300;
      color: #FFFFFF;
      background-color: #4eb5f1;
      text-align: center;
      transition: all 0.2s; }
      .section-compose__form-button:hover {
        background-color: #4095c6; }

.post-edit__btn {
  cursor: pointer; }
  .post-edit__btn:hover {
    color: #F28C69; }

.login-form {
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; }
  .login-form label {
    visibility: hidden;
    transition: 1s; }
  .login-form input {
    width: 90%;
    height: 4rem;
    border: none;
    background-color: rgba(173, 229, 153, 0.2);
    border-radius: 10px;
    text-align: center; }
    .login-form input:focus {
      background-color: rgba(173, 229, 153, 0.8);
      outline: none;
      transition: 1s;
      box-shadow: 0 0 1rem #ade599; }

.section-dashboard {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .section-dashboard .dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 100%; }

.section-header {
  position: relative; }

.section-about {
  padding: 15rem;
  height: 110vh;
  width: 100%;
  position: relative; }
  @media only screen and (max-width: 75em) {
    .section-about {
      height: 100rem; } }
  .section-about__container {
    width: 100%;
    height: 50rem;
    position: relative;
    display: flex;
    padding: 0 10rem;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 75em) {
      .section-about__container {
        flex-direction: column;
        height: 80rem;
        padding: 0; } }
    .section-about__container-left {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      @media only screen and (max-width: 75em) {
        .section-about__container-left {
          width: 100%; } }
    .section-about__container-right {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      @media only screen and (max-width: 75em) {
        .section-about__container-right {
          width: 150%; } }
  @media only screen and (max-width: 75em) {
    .section-about {
      display: flex; } }
  .section-about__content {
    width: 30rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }

.section-slogan {
  position: relative;
  height: 60vh;
  background-image: url("/img/2x/noblur-bg@2x.png");
  background-size: 110%;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column; }
  @media only screen and (max-width: 75em) {
    .section-slogan {
      background-size: 200%;
      height: 100%;
      padding: 6rem 0; } }

.section-latest-blog {
  position: relative;
  padding: 10rem 0;
  height: 100%;
  text-align: center; }
