.blog {

    &__card {
        width: 100%;
        height: 45rem;
        background-color: $color-off-white;
        border-radius: 8px;
        overflow: hidden;
        text-align: left;

        &-container {
            width: 100%;
            height: 50%;
            overflow: hidden;

            &-img {
                width: 100%;
            }
        }

        &-content {
            height: 40%;
            margin: 2rem;
            position: relative;
        }

        &-readmore {
            position: absolute;
            right: 0;
            bottom: 0;


            &:link,
            &:visited {
                display: inline-block;

                padding: .2rem 2rem;
                border: 1px solid $color-primary;
                color: $color-primary;
                text-decoration: none;
                background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
                background-size: 240%;
                border-radius: 10px;
                transition: all .4s;
            }
        
            &:hover,
            &:active {
                color: $color-white;
                background-color: $color-primary;
                font-weight: 400;
                transform: translateY(-.2rem) scale(1.01);
                box-shadow: 0 .3rem 1rem rgba($color: #000000, $alpha: .3);
            }
        }
    }
}

.blog--wide {

    &__card {
        width: 90%;
        height: 20rem;
        background-color: $color-off-white;
        border-radius: 8px;
        overflow: hidden;
        text-align: left;
        position: relative;

        @include respond(tab-port) {
            width: 120%;
            height: 25rem;
        }

        @include respond(phone) {
            width: 150%;
            height: 30rem;
        }

        &-container {
            width: 33.333%;
            overflow: hidden;

            @include respond(tab-land) {
                width: 50%;
            }

            @include respond(phone) {
                width: 30%;
                height: 100%;
            }


            &-img {
                width: 100%;


            @include respond(tab-land) {
                width: 120%;
            }


            @include respond(tab-port) {
                width: 130%;
            }

            @include respond(phone) {
                width: 200%;
            }
            }
        }

        &-content {
            height: 80%;
            margin: 2rem;
            width: 60%;
            position: absolute;
            right: 1rem;
            top: 0;


            @include respond(tab-land) {
                width: 40%;
            }

            @include respond(phone) {
                width: 55%;
            }

        }

        &-readmore {
            position: absolute;
            right: 0;
            bottom: 0;


            &:link,
            &:visited {
                display: inline-block;

                padding: .2rem 2rem;
                border: 1px solid $color-primary;
                color: $color-primary;
                text-decoration: none;
                background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
                background-size: 240%;
                border-radius: 10px;
                transition: all .4s;
            }
        
            &:hover,
            &:active {
                color: $color-white;
                background-color: $color-primary;
                font-weight: 400;
                transform: translateY(-.2rem) scale(1.01);
                box-shadow: 0 .3rem 1rem rgba($color: #000000, $alpha: .3);
            }
        }
    }
}