.blog {

    &__card {
        width: 30vw;
        height: 50rem;
        background-color: $color-off-white;
        border-radius: 8px;
        overflow: hidden;
        text-align: left;
        position: relative;

        @include respond(tab-port) {
            margin-bottom: 10rem;
            width: 60vw;
        }

        &-container {
            width: 100%;
            height: 50%;
            overflow: hidden;


            &-img {
                width: 100%;
            }
        }

        &-content {
            height: 30%;
            margin: 2rem;
            width: 90%;
            position: absolute;

            overflow: hidden;

            &:after{
                content: ""; // ::before and ::after both require content
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(180deg, rgba($color-off-white, 0), rgba($color-off-white, 1));
            }

        }

        &-readmore {
            position: absolute;
            bottom: 2rem;
            left: 50%;
            transform: translateX(-50%);


            &:link,
            &:visited {
                display: inline-block;

                padding: .2rem 2rem;
                border: 1px solid $color-primary;
                color: $color-primary;
                text-decoration: none;
                background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
                background-size: 240%;
                border-radius: 10px;
                transition: all .4s;
            }
        
            &:hover,
            &:active {
                color: $color-white;
                background-color: $color-primary;
                font-weight: 400;

                box-shadow: 0 .3rem 1rem rgba($color: #000000, $alpha: .3);
            }
        }
    }
}

.blog--wide {

    &__card {
        width: 90%;
        height: 30rem;
        border-radius: 8px;
        overflow: hidden;
        text-align: left;
        position: relative;
        margin-top: 5rem;

        @include respond(tab-port) {
            width: 120%;
            height: 25rem;
        }

        @include respond(phone) {
            width: 150%;
            height: 30rem;
        }

        &-container {
            width: 33.333%;
            height: 100%;
            overflow: hidden;
            background-size: cover;

            @include respond(tab-land) {
                width: 50%;
            }



            @include respond(phone) {
                width: 30%;
                height: 100%;
            }


            &-img {
                width: 100%;


            @include respond(tab-land) {
                width: 120%;
            }


            @include respond(tab-port) {
                width: 130%;
            }

            @include respond(phone) {
                width: 200%;
            }
            }
        }

        &-content {
            height: 80%;
            margin: 2rem;
            width: 60%;
            position: absolute;
            right: 1rem;
            top: 0;
            overflow: hidden;

            &:after{
                content: ""; // ::before and ::after both require content
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(180deg, rgba($color-white, 0), rgba($color-white, 1));
            }


            @include respond(tab-land) {
                width: 40%;
            }

            @include respond(phone) {
                width: 55%;
            }

        }

        &-readmore {
            position: absolute;
            right: 1rem;
            bottom: 1rem;

            @include respond(tab-port) {
                right: 5rem;
            }


            &:link,
            &:visited {
                display: inline-block;

                padding: .2rem 2rem;
                border: 1px solid $color-primary;
                color: $color-primary;
                text-decoration: none;
                background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
                background-size: 240%;
                border-radius: 10px;
                transition: all .4s;
            }
        
            &:hover,
            &:active {
                color: $color-white;
                background-color: $color-primary;
                font-weight: 400;
                transform: translateY(-.2rem) scale(1.01);
                box-shadow: 0 .3rem 1rem rgba($color: #000000, $alpha: .3);
            }
        }
    }
}