.composition {
    width: 30rem;
    height: 30rem;
    position: relative;

    @include respond(tab-land) {
        flex-direction: column;
        width: 30rem;
    }

    @include respond(tab-port) {
        width: 25rem;
    }

    &__img {
        width: 30rem;
        max-width: 30rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @include respond(tab-land) {
            flex-direction: column;
            width: 30rem;
        }

        @include respond(tab-port) {
            flex-direction: column;
            width: 25rem;
        }
    
    }

    &__veg {
        position: absolute;


        &-1 {
            top: 7rem;
            left: -7rem;
            transform:  scale(.6) rotate(-60deg);

            @include respond(tab-land) {
                transform:  scale(.6) rotate(-60deg);
                top: 2rem;
            }

            @include respond(phone) {
                transform:  scale(.4) rotate(-60deg);
                top: -2rem;
            }   


        }

        &-2 {
            top: -15rem;
            left: -5rem;

            transform: scale(1);


            @include respond(tab-land) {
                transform:  scale(.5);
                top: -20rem;
                left: -10rem;
            }

            @include respond(phone) {
                transform:  scale(.5);
                top: -16rem;
                left: -10rem;
            }
        }

        &-3 {
            bottom: -25rem;
            right: -8rem;
            transform: scale(.5) rotate(60deg);


            @include respond(tab-land) {
                transform:  scale(.6) rotate(60deg);
                bottom: -25rem;
                right: -15rem;
            }


            @include respond(phone) {
                transform:  scale(.4) rotate(60deg);
                bottom: -30rem;
            }

        }

        &-4 {
            bottom: -10rem;
            left: -8rem;
            width: 40rem;


            @include respond(phone) {
                width: 30rem;
            }

        }

    }
}