.section-dashboard {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .dashboard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90vw;
        height: 100%;
    }
}