.section-header {
    position: relative;

    
}

.section-about  {
    padding: 15rem;
    height: 110vh;
    width: 100%;
    position: relative;

    @include respond(tab-land) {
        height: 100rem;
    }


    &__container {
        width: 100%;
        height: 50rem;
        position: relative;
        display: flex;
        padding: 0 10rem;
        justify-content: center;
        align-items: center;

        @include respond(tab-land) {
            flex-direction: column;
            height: 80rem;
            padding: 0;
        }

        &-left {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            @include respond(tab-land) {
                width: 100%;
            }
        }

        &-right {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            @include respond(tab-land) {
                width: 150%;
            }
        }
    }


    @include respond(tab-land) {
        display: flex;
    }

    &__content {
        width: 30rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.section-slogan {
    position: relative;
    height: 60vh;
    background-image: url('/img/2x/noblur-bg@2x.png');
    background-size: 110%;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.section-latest-blog {
    position: relative;
    padding: 10rem 0;
    height: 100%;
    text-align: center;
}