<%- include("../partials/header"); -%> 


<header>
    <img src="/img/2x/beth-will@2x.png" alt="" class="post-image">
    <div class="header__content">
        <div class="row u-center-text u-margin-top-big">
           

                <h1 class="header-primary">
                    Finding Happiness</h1>
                <h2 class="header-secondary">Recipes, thoughts & nutritional tips.</h2>
                <a class="social-link" href="https://www.facebook.com/bethaddeynutrition"><i class="fab fa-facebook fa-5x u-margin-right-small"></i></a>
                <a class="social-link" href="https://www.instagram.com/bethsgonevegan/?hl=en"><i class="fab fa-instagram fa-5x u-margin-left-small"></i></a>
        </div>
    </div>


    <svg width="0" height="0">
        <defs>
          <clipPath id="headerCurve" clipPathUnits="objectBoundingBox">
            <path d="M 0,1
            L 0,0
            L 1,0
            L 1,.85
            C .65 .95, .35 .95, 0 .85
            Z" />
          </clipPath>
        </defs>
      </svg>

</header>

<section class="section-blog">



<p class="post__text text u-margin-bottom-medium">Today I spent a lot of time thinking about life. Thinking about my life, thinking about the things I want to achieve, thinking about how I am going to achieve them and, ultimately, achieve happiness.

 

   <br> My thoughts were brought back to summer of last year, where I had too much time on my hands and a thirst for knowledge and enlightenment. I decided buying and borrowing an uncountable number of books on Buddhism and enlightenment was the route to quench this.
    
     
    
   <br>  One of my favourite reads of summer 2016 was 'The Art of Happiness', written by Howard Cutler (psychiatrist and master of human happiness), and the Dalai Lama himself. The book opened my eyes to how I believe I will find my way in this world, and how many people could do the same. By no means do I now believe I am an expert on this, but I do believe the essence of this book and what it has taught me is worthwhile information that a lot of people may benefit from hearing. 
    
     
    
   <br> Primarily, this book has taught me that in order to get to where I want to be (and achieve happiness), the decisions I make need to be aimed at lifelong happiness, rather than temporary pleasure.
    
     
    
   <br> For example, one of my aims in life and something that I believe will give me a great sense of fulfillment and happiness, is working within mental health care and helping people who are struggling to get better. So today, in my final year of my psychology degree, where I should have been revising towards my final exams, when right at that moment I wanted nothing more than to be playing Sims and/or napping, I had to make a decision. Do I play Sims and nap, giving me temporary pleasure and making my day better, or do I revise, and do well in my exams and my degree, and stand a better chance of getting where I want to be in the future? 
    
     
    
   <br> I closed down Sims, and carried on working. 
    
     
    
   <br>  And that decision, for all I know, could play a huge part in where I end up and if I find the happiness I am looking for. 
    
     
    
   <br>  When I am at the end of my life, am I going to look back and think, 'I wish I had slept more and played more Sims'? No, I'm going to think 'I am so glad I achieved everything I wanted to in my lifetime'. What I want is love, a family, to see the world, to help people, and to help liberate and free animals. I want to look back at the end of my life and believe I achieved all of those things.
    
     
    
   <br> This change in my decision-making wasn't an overnight process. It took me a long time to change my habits and need for immediate gratification and realise that life IS short and I need to start working towards a life I love. But now, nearly every decision I make, I ask myself the question: 'Is this going to directly or indirectly lead to the things I want in life?' If the answer is no, I change my plans. 
    
     
    
   <br> Take control of your life 
    
    xx </p>


<div class="post__pp u-margin-bottom-small"></div>
<p class="text">Beth Addey
    Nutritionist (MSc)</p>




</section>




<%- include("../partials/footer"); -%>