<%- include("../partials/header"); -%> 


<header>
    <img src="/img/2x/porridge@2x.png" alt="" class="post-image">        
    <div class="header__content">
        <div class="row u-center-text u-margin-top-big">
           
            
                <h1 class="header-primary">
                    Gingerbread Oats</h1>
                <h2 class="header-secondary">Recipes, thoughts & nutritional tips.</h2>
                <a class="social-link" href="https://www.facebook.com/bethaddeynutrition"><i class="fab fa-facebook fa-5x u-margin-right-small"></i></a>
                <a class="social-link" href="https://www.instagram.com/bethsgonevegan/?hl=en"><i class="fab fa-instagram fa-5x u-margin-left-small"></i></a>
        </div>
    </div>


    <svg width="0" height="0">
        <defs>
          <clipPath id="headerCurve" clipPathUnits="objectBoundingBox">
            <path d="M 0,1
            L 0,0
            L 1,0
            L 1,.85
            C .65 .95, .35 .95, 0 .85
            Z" />
          </clipPath>
        </defs>
      </svg>

</header>

<section class="section-blog">



<p class="post__text text u-margin-bottom-medium">My first post on this blog, and I'm diving right in with a recipe I concocted a few weeks ago. When it's dark and gloomy outside, what more could you want for your breakfast than a big, warm bowl of oats? If you're not feeling it yet, this recipe aims to get you feeling cosy and festive (ie. my favourite state of being). 

 

    This recipe makes use of fibre-filled oats, vitamin b12 from a dose of almond milk, and the warming, nourishing benefits of your favourite festive spices.
    
     
    
    My photo leaves a lot to be desired as I didn't have a good camera to hand and had to resort to using my iPod, but I promise that this oatmeal will fulfill all your festive holiday needs. Change up the sweeteners if you wish, and don't be afraid to omit them altogether as a perfectly ripe banana will provide all the sweetness you need.

    Ingredients:

- Half a cup of oats

- 2/3 a cup of almond milk (or any plant-based milk you fancy)

- A dash of both cinnamon and nutmeg (1/4 tsp of each?)

- A bigger dash of ground ginger (1/2 tsp?)

- Half a banana, mashed

- 1/2 tsp vanilla extract

- 1 tbsp maple syrup

- 1 tbsp golden syrup

 

Method (easiest possible method you could possibly come across):

1) Heat in a pan!

2) Top with more sweetener if you need, and any toppings you like. I imagine on a decadent kind of day I would top this with some dark chocolate or cacao nibs.

 

Enjoy! Let me know, what are your favourite oatmeal combinations?

<div class="post__pp u-margin-bottom-small"></div>
<p class="text">Beth Addey
    Nutritionist (MSc)</p>




</section>




<%- include("../partials/footer"); -%>