<%- include("../partials/header"); -%> 


<header class="header header--blog">
    <img src="/img/2x/katsu@2x.png" alt="" class="post-image">       
    <div class="header__content header__content--post">
        <div class="row u-center-text u-margin-top-big">
           
            
                <h1 class="header-primary u-margin-bottom-medium">
                    The best peanut satay sauce ever</h1>
                <h2 class="header-secondary u-margin-bottom-medium">Recipes, thoughts & nutritional tips.</h2>
                <a class="social-link" href="https://www.facebook.com/bethaddeynutrition"><i class="fab fa-facebook fa-5x u-margin-right-small"></i></a>
                <a class="social-link" href="https://www.instagram.com/bethsgonevegan/?hl=en"><i class="fab fa-instagram fa-5x u-margin-left-small"></i></a>
        </div>
    </div>


    <svg width="0" height="0">
        <defs>
          <clipPath id="headerCurve" clipPathUnits="objectBoundingBox">
            <path d="M 0,1
            L 0,0
            L 1,0
            L 1,.85
            C .65 .95, .35 .95, 0 .85
            Z" />
          </clipPath>
        </defs>
      </svg>

</header>

<section class="section-blog">



<p class="post__text text u-margin-bottom-medium">That's right, I nailed spicy peanut satay sauce and I want to eat it every day for the rest of my life. It was nutty, garlicky, and had a perfect spicy umami kick.

 

    <br>I served it mixed into stir fried broccoli, red pepper and mushrooms with a side of white rice, and it was SO good.
    
     
    
    <br>The ingredients for this sauce are:
    
    <br>- 1/2 cup peanut butter (I used crunchy and it was damn tasty)
    
    <br>- 1/2 cup water
    
    <br>- 2 tbsp sriracha, maybe 1 if you're not a fan of the heat
    
    <br>- 1/2 an onion
    
    <br>- 1 clove of garlic
    
    <br> - 1 tbsp soy sauce
    
     
    
    <br>I simply chopped the onion and garlic finely, then fried them in a little oil, before mixing everything up together into a thick sauce.
    
     
    
    <br>My omnivorous family and boyfriend completely lapped it up, so it is a sure-fire meat-eater pleaser!
    
     
    
    <br> Be sure to try this recipe xxx </p>


<div class="post__pp u-margin-bottom-small"></div>
<p class="text">Beth Addey
    Nutritionist (MSc)</p>




</section>




<%- include("../partials/footer"); -%>